extends layout.pug

block head
  title= title

block body
  h1(class='header')= message
  ul(class="lessons-list")
    // - TODO: This doesn't seem ideal
    each lesson in Object.entries(lessons)
      - let lessonNumber = lesson[0]
      - let lessonName = lesson[1]
      //- TODO: This list is still ugly
      li
        a(href=lessonNumber) #{lessonNumber}: #{lessonName}